*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
    --principal-color: #121212; /*principal background color*/
    --principal-text-color: #ce8037; /*headings and bottons*/
    --color-text: #F5F5DC; /* color for paragraph and text in general*/
    --color-cards: #2C2C2C; /*Color for cards and secundary sections*/
    --color_detail: #1b3022; /* for fine deteils and icons*/
    --backgraund-detail:#1b302231; /*Background color of details*/
    --font-text: 1.2rem;
    --border-circle: 20px;
}
section.fondo{
    height: 100vh;
    background-image: url(images/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-bottom: 2rem; */
}
header{
    margin-top: 110px;
    position: absolute;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.295);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: var(--principal-color);
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    scroll-margin-top: 110px;
}
button{
    font-size: large;
    background: transparent;
    color: var(--principal-text-color);
    font-weight: bold;
    border: 2px solid;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    max-width: 10rem;
}
button:hover{
    background-color: var(--principal-text-color);
    color: var(--color-text);
    border: var(--principal-text-color);
    transform: scale(1.1);
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
}
#cont-nav{height: 110px;}

nav{
    position: fixed;
    width: 100%;
    background-color: var(--principal-color);
    padding: 0 0 0 20px;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ul-nav{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    align-items: center;
    justify-content: space-around;
}
.ul-nav li{
    list-style: none;
    font-size: var(--font-text);

}
.ul-nav li a{
    text-decoration: none;
    color: var(--color-text);

}

.headings{
    color: var(--principal-text-color);
    text-align: center;
}
.texts{
    color: var(--color-text);
    font-size: var(--font-text);
}
img{
    width: 200px;
}

table{
    width: 100%;
}
table,th,td{
    border: 5px solid var(--color_detail);
    background-color: var(--backgraund-detail);
    border-collapse: collapse;
    color: var(--principal-text-color);
    font-size: var(--font-text);
}
th,td{
    padding: 5px;
    text-align: center;
}
#festival{
    padding: 0 50px;
    text-align: center;
}
#fest-descrip{
    display: flex;
    gap: 1rem;
}
i{
    color: var(--principal-text-color);
    font-size:var(--font-text);
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.carousel{ /* Handles only the overflow */
    width: 100%;
    display: flex;
    /* overflow: hidden; */
    overflow-x: auto; 
}
.carousel::-webkit-scrollbar {
    display: none;
}
.grid{ /* carousel Group, the one that should be moved within the container*/
    display: flex;
    height: 500px;
    gap: 1rem;
    animation: spin 20s infinite linear;
    padding-right: 1rem; 
    background-color: var(--backgraund-detail);
}
.gallery{
    flex-grow: 0;
    flex-shrink: 0; /*avoids compressing the elements*/
    flex-basis: 500px; 
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(10,1fr);
    gap: 1rem;
    /* background-color: var(--backgraund-detail); */
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;} 
}
.element{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-circle);
    border: 3px solid var(--color_detail);
}
.element1{
    
    grid-column: 1/5;
    grid-row: 1/11;
    background-image: url(images/comida1.jpg);
    
}
.element2{
    background-image: url(images/festival1.webp);
    
    grid-column: 5/11;
    grid-row: 1/6;
}
.element3{
    background-image: url(images/festival2.webp);
    
    grid-row: 6/11;
    grid-column: 5/11;
}
.element4{
    background-image: url(images/festival3.jpg);
    grid-column: 1/11;
    grid-row: 1/4;
}
.element5{
    background-image: url(images/comida2.jpeg);
    grid-row: 4/7;
    grid-column: 1/11;
}
.element6{
    background-image: url(images/festival4.jpeg);
    grid-column: 1/11;
    grid-row: 7/11;
}
.element7{
    background-image: url(images/festival5.webp);
    grid-row: 1/7;
    grid-column: 1/5;
}
.element8{
    background-image: url(images/festival6.jpg);
    grid-column: 5/11;
    grid-row: 1/7;
}
.element9{
    background-image: url(images/comida3.webp);
    grid-column: 1/11;
    grid-row: 7/11;
}
.element10{
    background-image: url(images/festival7.webp);
    grid-column: 1/4;
    grid-row: 1/11;
}
.element11{
    background-image: url(images/festival8.webp);
    grid-column: 4/8;
    grid-row: 1/11;
}
.element12{
    background-image: url(images/festival9.webp);
    grid-column: 8/11;
    grid-row: 1/11;
}
.element13{
    background-image: url(images/comida4.jpg);
    grid-row: 1/6;
    grid-column: 1/6;
}
.element14{
    background-image: url(images/festival10.jpeg);
    grid-row: 6/11;
    grid-column: 1/6;
}
.element15{
    background-image: url(images/comida5.jpg);
    grid-column: 6/11;
    grid-row: 1/11;
}
footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .icons-footer{
    display: flex;
    justify-content: space-evenly;
}

footer .ul-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .ul-footer li{
    list-style: none;
    font-size: var(--font-text);
}
footer .ul-footer li a{
    text-decoration: none;
    color: var(--color-text);
}
footer p{
    text-align: center;
}
.btn-menu{
    display: none;
}
@media(max-width: 768px){
    img{
        width: 120px;
        height: auto;
        /* object-fit: cover; */
    }

   
    nav{
        background-color: var(--principal-color);
        display: flex;
        justify-content: space-between;
        height: 110px;
    }
    .ul-nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 110px;
        background-color: var(--principal-color);
        width: 50%;
        flex-grow: 0;
        gap: 10px;
        left: -100%;
        height: calc(100vh - 110px);
    }
    .ul-nav.show{
        left: 0;
    }
    .btn-menu{
        display: block;
    }
    .btn-menu i{
        color: #F5F5DC;
    }
    .btn-menu:active{
        transform: scale(0.9);
        background-color: var(--principal-text-color);
    }
    .btn-menu:hover{
        /* background-color: transparent; */
        border: 1px solid var(--principal-text-color);
        /* transform: scale(1); */
    }
   
}
