*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
    --principal-color: #121212; /*principal background color*/
    --principal-text-color: #ce8037; /*headings and bottons*/
    --color-text: #F5F5DC; /* color for paragraph and text in general*/
    --color-cards: #2C2C2C; /*Color for cards and secundary sections*/
    --color_detail: #1b3022; /* for fine deteils and icons*/
    --font-text: 1.2rem;
}
section.fondo{
    height: 100vh;
    background-image: url(images/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-bottom: 2rem; */
}
header{
    margin-top: 110px;
    position: absolute;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.295);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: var(--principal-color);
}
button{
    font-size: large;
    background: transparent;
    color: var(--principal-text-color);
    font-weight: bold;
    border: 2px solid;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    width: 10rem;
}
button:hover{
    background-color: var(--principal-text-color);
    color: var(--color-text);
    border: var(--principal-text-color);
    transform: scale(1.1);
    cursor: pointer;
}
#cont-nav{height: 110px;}

nav{
    position: fixed;
    width: 100%;
    background-color: var(--principal-color);
    padding: 0 0 0 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul li{
    list-style: none;
    font-size: var(--font-text);

}
ul li a{
    text-decoration: none;
    color: var(--color-text);

}

.headings{
    color: var(--principal-text-color);
    text-align: center;
}
.texts{
    color: var(--color-text);
    font-size: var(--font-text);
}
img{
    width: 200px;
}

table{
    width: 100%;
}
table,th,td{
    border: 5px solid var(--color_detail);
    border-collapse: collapse;
    color: var(--principal-text-color);
    font-size: var(--font-text);
}
th,td{
    padding: 5px;
    text-align: center;
}
#festival{
    padding: 0 50px;
    text-align: center;
}
#fest-descrip{
    display: flex;
    gap: 1rem;
    ;

}
i{
    color: var(--principal-text-color);
    font-size:var(--font-text);
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* .gallery{
    
    border: 5px solid var(--color_detail);
    padding-bottom: 2rem;
    width: max-content;
    background-color: #1b302271;
}
    
#cont-gal{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
} 


#cont-gal .gallery img{
    width: 300px;
    height: auto;
    object-fit: cover;
} */
