
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(211, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Obliga al body a medir toda la pantalla */
    flex-direction: column; /* Esto hizo que se hiciera posible que el header, main y footer se alineen verticalmente*/

    background-image: url('./images/TitanColosalAsomado.webp');
    background-repeat: no-repeat; /* Evita que la imagen se repita como mosaico */
    background-size: cover; /* Cubrir el espaciode pantalla*/
    background-position: center;
    background-attachment: fixed;
  
}


.tarjeta {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 300px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgb(255, 0, 0);
    text-align: center;
    transition: transform 0.3s ease;
}


.tarjeta:hover {
    transform: translateZ(20px)
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin: 0 auto 1rem;
    box-shadow: 0 5px 20px rgb(0, 0, 0);

}

h1 {
    color: #464545;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.boton-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee0000;
    color: white;
    text-decoration: dashed; /* Quita la línea de subrayado del link */
    border-radius: 5px;
    margin-top: 20px;
} 
.boton-link:hover{
    box-shadow: 0 6px 12px rgb(255, 0, 0);
    background-color: #ff0000;
}

.main{
    display: flex;
    gap: 3rem;
    perspective: 1000px;
    flex: 1; /* Empuja al footer hacia abajo del todo */
    width: max-content; /* Obliga al tren a ser tan largo como todas las tarjetas juntas */
    /*propiedad|busca el @keframe| duracion del tren|velocidad constante|la repeticion */
    animation: scroll-infinito 20s linear infinite;

}
@keyframes scroll-infinito {
    0%{
        transform: translateX(0); /* Empieza en la posición original */
    }
    100%{/* Se mueve hacia la izquierda hasta que pase la mitad parte del tren */
        /* (Como duplicamos las tarjetas en HTML, el salto al inicio es invisible) */
        transform: translateX(-50%);
    }
}

.introduccion{
    display: flex;
    gap: 1rem;
    text-align: center; /* Centra h1 y p horizontalmente*/
    padding: 50px 20px; /*le da aire arriba y abajoo */
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;

}
.introduccion h1{
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 10px;
    

}
.logo{
    width: 100px;
    height: auto;
    object-fit: cover; /*Evita que la imagen se estire feo */
    
}
.introduccion p{
    margin-top: 30px;
}
.pie-pagina{
    width: 100%; /* Cubre todo el ancho horizontal */
    margin-top: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px 20px;
    
}

.barra-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;

}
.boton-pagina{
    display: inline-block;
    padding: 10px 20px;
    background-color: #042aaa;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 50px;
    margin-top: 2rem;
}
.boton-pagina:hover{
    background-color: aliceblue;
    color: #000000;
}

.carrusel-ventana{
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    background: transparent;
}

